
{{ 'custom.scss' | asset_url | stylesheet_tag }}

<div class="accordion">
  {% for block in section.blocks %}
    <div class="accordion-item">
      <a href="#" class="heading">
        <div class="icon"></div>
        <div class="title">{{ block.settings.question }}</div>
      </a>

      <div class="content">
        <p>
          {{ block.settings.answer }}
        </p>
      </div>
    </div>
  {% endfor %}
</div>


<script>
$('.accordion-item .heading').on('click', function(e) {
    e.preventDefault();

    // Add the correct active class
    if($(this).closest('.accordion-item').hasClass('active')) {
        // Remove active classes
        $('.accordion-item').removeClass('active');
    } else {
        // Remove active classes
        $('.accordion-item').removeClass('active');

        // Add the active class
        $(this).closest('.accordion-item').addClass('active');
    }

    // Show the content
    var $content = $(this).next();
    $content.slideToggle(100);
    $('.accordion-item .content').not($content).slideUp('fast');
});

</script>

{% schema %}
  {
    "name": "FAQs",
	"blocks": [
	{
		"name": "FAQ",
		"type": "faq",
		"settings": [
			{
				"type": "text",
				"id": "question",
				"label": "FAQ Question"
			},
			{
				"type": "textarea",
				"id": "answer",
				"label": "FAQ Answer"
			}
		]
	}
	],
    "settings": []
  }
{% endschema %}