{% assign sections = "2,3,4,5,6,7,8,9,10,11,12,13,14,15" %}
{% assign sections = sections | split: ',' %}


{% section 'hero-section' %}


{% comment %}
<div id="slide-1" class="slide {% if settings.promo_text != blank %}mobile-padding{% endif %}">
   <a href="/collections/classic-roasted-chickpeas">
     <div class="banner">
       <picture>
         <source srcset="//cdn.shopify.com/s/files/1/0897/6158/files/DesktopBienaSnacksHomePageSliders_V6.jpg" media="(min-width: 641px)" />
         <img class="lazyload" 
              alt="So Good, We Almost Called Them Happy Snacks" 
              title="So Good, We Almost Called Them Happy Snacks" 
              src="//cdn.shopify.com/s/files/1/0897/6158/files/MobileBienaSnacksHomePageSliders_V6.jpg" />
       </picture>
       {% if settings.homepage_arrow %}
       <a href="#pagecontent" class="scroll-arrow animated fadeInDown"></a>
       {% endif %}
     </div>
  </a>
</div>
{% endcomment %}

<div class="sec-seenin" style="background: #89dde5;">
  <div class="container flexbox">
    <h3>As Seen In</h3>
    <img src="https://cdn.shopify.com/s/files/1/0897/6158/files/today_logo01.jpg?v=1625164102" />
    <img src="https://cdn.shopify.com/s/files/1/0897/6158/files/women-health-logo.png?v=1625162586" />
    <img src="https://cdn.shopify.com/s/files/1/0897/6158/files/eat-this-not-that-logo.png?v=1625162586" />
    <img src="https://cdn.shopify.com/s/files/1/0897/6158/files/food-wine-logo.png?v=1625162586" />
    <img src="https://cdn.shopify.com/s/files/1/0897/6158/files/wsj-logo.png?v=1625162587" />
  </div>
  </div>
</div>

<div class="sec-beholdpower">
  <a href="/blogs/biena-blog/chickpeas-information-faqs" target="_blank">
  <div class="container">
    <h2>Behold the Power of the Mighty Chickpea</h2>
    <div class="sec-row">
      <div class="sec-column">
        <img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-icon-Protein-Fiber.png" alt="Protein & Fiber Packed" title="Protein & Fiber Packed"><br/>Protein &amp;<br/>Fiber Packed
      </div>
      <div class="sec-column">
        <img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-icon-Keep-Fuller-Longer.png" alt="Keeps you Fuller Longer" title="Keeps you Fuller Longer"><br/>Keeps you<br/>Fuller Longer
      </div>
      <div class="sec-column">
        <img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-icon-Fewer-Net-Carbs-2.png" alt="Fewer Net Carbs" title="Fewer Net Carbs"><br/>Fewer<br/>Net Carbs
      </div>
      <div class="sec-column">
        <img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-icon-Support-Blood-Sugar.png" alt="Support Management of Blood Sugar Levels" title="Support Management of Blood Sugar Levels"><br/>Support<br/>Management of<br/>Blood Sugar Levels
      </div>
    </div>
    <div class="sec-row">
      <div class="sec-column">
        <img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-icon-Simple-Ingredients.png" alt="Simple Ingredients" title="Simple Ingredients"><br/>Simple<br/>Ingredients
      </div>
      <div class="sec-column">
        <img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-icon-Grain-Gluten-Free.png" alt="Grain & Gluten Free" title="Grain & Gluten Free"><br/>Grain &amp;<br/>Gluten Free
      </div>
      <div class="sec-column">
        <img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-icon-Non-GMO.png" alt="Non GMO Ingredients" title="Non GMO Ingredients"><br/>Non GMO<br/>Ingredients
      </div>
    </div>
  </div>
  </a>
</div>

<div class="sec-nutripunch">
  <div class="sec-image"><img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/img-nutripunch.jpg"></div>
  <div class="sec-detail">
    <h3 class="mb-40">Delicious Snacks that<br/>Pack a Nutritional Punch</h3>
    <p class="mb-100">Doubles up as a meal with 12g <br/>protein & 12g fiber per 1/2 bag</p>
    <a href="/collections/classic-roasted-chickpeas" class="btn">Check out our 6 delicious flavors</a>
  </div>
</div>


{% section 'compare-sec' %}


{% comment %}
<div class="sec-nutripunch chart_box text-right">
  <div class="sec-detail">
    <h3 class="mb-40">See how we compare!</h3>
    <a href="/collections/classic-roasted-chickpeas">
      <picture>
        <source srcset="//cdn.shopify.com/s/files/1/0897/6158/files/BS_roasted_chickpea_snacks_1.png" media="(min-width: 641px)" />
        <img class="lazyload" 
             src="//cdn.shopify.com/s/files/1/0897/6158/files/BS_roasted_chickpea_snacks.jpg" />
       </picture>
    </a>
    <a href="/collections/classic-roasted-chickpeas" class="btn">Shop Roasted Chickpea Snacks</a>
  </div>
  <div class="sec-image"><img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS_roasted_chickpea_snacks_2.png"></div>
</div>
{% endcomment %}

<div class="sec-nutripunch">
  <div class="sec-image"><img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/img-lowcarb-2.png"></div>
  <div class="sec-detail">
    <h3 class="mb-40">Low Carb Snacks that <br/>Taste Like the Real Thing</h3>
    <p class="mb-100">70% fewer net carbs <br/>than standard puffs</p>
    <a href="/collections/baked-puffs" class="btn">Shop Baked Puffs</a>
  </div>
</div>


{% section 'compare-sec-2' %}


{% comment %}
<div class="sec-nutripunch chart_box text-right">
  <div class="sec-detail">
    <h3 class="mb-40">See how we compare!</h3>
    <a href="/products/keto-puffs-2-oz">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0897/6158/files/compare-chart-shop-puffs.png?v=1638991502" media="(min-width: 641px)" />
        <img class="lazyload" 
             src="https://cdn.shopify.com/s/files/1/0897/6158/files/BS_mobile_table_puffs_1_3.png?v=1638991502" />
       </picture>
    </a>
    <a href="/products/sea-salt-baked-puffs-3-2oz" class="btn">Shop Sea Salt Baked Puffs</a>
  </div>
  <div class="sec-image"><img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/img-howwecompare-3.jpg"></div>
</div>
{% endcomment %}

<div class="sec-oursnacks">
  <div class="container">
    <h2>Our Snacks</h2>
    <div class="sec-row">
      <div class="sec-column">
        <a href="/products/sea-salt" class="image"><img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-pro-chickpea.png" alt="Roasted Sea Salt" title="Roasted Sea Salt"></a>
        <a href="/products/sea-salt" class="title mb-20">Roasted <br/>Sea Salt</a>
        <a href="/products/sea-salt" class="btn">Shop Now</a>
      </div>
      <div class="sec-column">
        <a href="/products/biena-6ct-pick-your-pack" class="image"><img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-pro-variety-packs.png" alt="Pick Your Pack Variety Pack" title="Pick Your Pack Variety Pack"></a>
        <a href="/products/biena-6ct-pick-your-pack" class="title mb-20">Pick Your Pack <br/>Variety Pack</a>
        <a href="/products/biena-6ct-pick-your-pack" class="btn">Shop Now</a>
      </div>
      <div class="sec-column">
        <a href="/products/sea-salt-baked-puffs-3-2oz" class="image"><img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-pro-baked-puffs.png" alt="Sea Salt Baked Puffs" title="Sea Salt Baked Puffs"></a>
        <a href="/products/sea-salt-baked-puffs-3-2oz" class="title mb-20">Sea Salt <br/>Baked Puffs</a>
        <a href="/products/sea-salt-baked-puffs-3-2oz" class="btn">Shop Now</a>
      </div>
    </div>
  </div>
</div>

<div class="sec-aboutfounder">
  <div class="container">
    <div class="sec-row">
      <div class="sec-column image">
        <img class="lazyload" src="//cdn.shopify.com/s/files/1/0897/6158/files/BS-img-Poorvi.png" alt="Poorvi Patodia" title="Poorvi Patodia">
        <h4>Poorvi Patodia</h4>
        <p>Founder, Biena Snacks</p>
      </div>
      <div class="sec-column text-content">
        <h3>Hi, I’m Poorvi!</h3>
        <p>Biena was started from a simple question: why do most snacks have zero nutrition?</p>
        <p>Growing up - my mom made many different snacks from lentils and chickpeas. Curious to see if I could create something from these superfoods, I started experimenting in my kitchen.</p>
        <p>Hundreds of trials later, I had it. Crispy, crunchy, irresistible snack that will actually power your day. Made from simple ingredients and loaded with plant-based protein and fiber, these were unlike anything else in the snack aisle.</p>
        <p class="mb-40">We hope you enjoy eating them as much as we’ve enjoyed creating them!</p>
        <a href="/pages/our-story" class="btn">Check out our backstory</a>
      </div>
    </div>
  </div>
</div>

<div class="container homepage_reviews">
  <div class="sixteen columns">
    <h2>Read Our Reviews</h2>
    <div class="yotpo yotpo-reviews-carousel" data-header-customisation-enabled="1" data-header-customisation-color="#56575f" data-header-customisation-font-size="28" data-header-customisation-text="" data-header-customisation-alignment="left" data-background-color="transparent" data-mode="top_rated" data-type="product" data-count="9" data-show-bottomline="1" data-autoplay-enabled="1" data-autoplay-speed="4000" data-show-navigation="1" data-testimonials-page-enabled="1" data-testimonials-page-text="See All Reviews" data-testimonials-page-link="https://bienasnacks.com/pages/customer-reviews"></div>
  </div>
</div>

<!-- <div class="sec-newsletter-box">
  <h3>Save 10% On Your First Order</h3>
  <p>Join our VIP Insiders Club and be the first to know about <br/>new launches, limited-time offers and get free recipes</p>
  <div class="container">
    
    	<div class="klaviyo-form-RunHtQ klaviyoHome"></div>
    
  </div>
</div> -->

<div class="sec-instafeed">
  <h3>Latest from Instagram</h3>
  <div id="insta-feed"></div>
</div>