<div class="container">
<div class="sixteen columns page clearfix">
  <h1 class="center">{{ page.title }}</h1>
  <h3 class="center" style="text-transform: uppercase;">Exclusive Offers & Early Access to New Products</h3>
</div>
</div>

<div class="container wc_subscribe_form_con">
<div class="eight columns alpha omega"><img src="//cdn.shopify.com/s/files/1/0897/6158/files/biena-welcome-img.jpg" width="100%"></div>
<div class="eight columns alpha omega wc_subscribe_form">
  <div class="text_content" style="margin: 0 auto;">
  <h4 class="center">UNLOCK</h4>
  <h2 class="center">15% OFF</h2>
  <h4 class="center">BY JOINING OUR<br/> INSIDERS CLUB</h4>
  {% comment %}<div class="klaviyo-form-RunHtQ"></div>{% endcomment %}
  <div class="klaviyo-form-YkENF6"></div>
</div>
</div>

</div>

<div class="instagram-container">
<div class="sec-instafeed">
  <h3>Latest from Instagram</h3>
  <div id="insta-feed"></div>
</div>
  
<style type="text/css">
  .container.wc_subscribe_form_con{ max-height: 580px; overflow: hidden; }
  .container.main.content {background: #f0eedc; padding: 80px 0px 0px 0px;}
  .main.content {width: 100%;}
  .main.content .container {padding: 0px;}
  .footer {margin-top: 0px;}
  .klaviyo-form input[type="email"]{ background: #F0EEDC !important; }
 
  h1.center {
    font-family: BasisGrotesquePro-Bold;
    font-size: 52px;
    line-height: 1.3;
    color: #573c31;
    margin-bottom: 0px;
  }
  .wc_subscribe_form h2.center {
    font-family: BasisGrotesquePro-Black;
    font-size: 65px;
    line-height: 1.3;
    color: #5e3c32;
    margin: 0;
  }
  .wc_subscribe_form h4.center{
    font-family: BasisGrotesquePro-Black;
    font-size: 2em;
    line-height: 1.3;
    color: #5e3c32;
    margin: 0;
    padding: 0;
  }
  .wc_subscribe_form p.center {
    font-size: 30px;
    line-height: 1.3;
    color: #5e3c32;
  }
  h3.center {
    font-size: 32px;
    line-height: 1.3;
    color: #573c31;
    margin-bottom: 1em;
  }
  
  .wc_subscribe_form_con img {display: block;}
  .wc_subscribe_form {background: #63cfe3;}
  
  .wc_subscribe_form form.klaviyo-form {padding-bottom: 0px;}
  .wc_subscribe_form input::placeholder {color: #573c31 !important;}
  
  @media (min-width: 1000px) {
    .wc_subscribe_form_con {display: flex; align-items: center; background: #63cfe3;}
  }
  
  @media (max-width: 640px) {
    .container.wc_subscribe_form_con{display: grid; width: 100%; max-height: inherit; overflow: auto;}
    .container.wc_subscribe_form_con .eight.columns {width: 100%;  order: 2;}
    .container.wc_subscribe_form_con .eight.columns.wc_subscribe_form {order: 1;}
    .container.main.content {padding: 20px 0px 0px 0px;}
    
    h1.center {font-size: 32px;}
    h3.center {font-size: 22px; text-transform: inherit !important;}
    .wc_subscribe_form h2.center {font-size: 42px; margin-bottom: 0em;}
    .wc_subscribe_form p.center {font-size: 18px;}
    .wc_subscribe_form .text_content {padding: 2em 0px 0px;}
  }
</style>