<div class="sixteen columns page clearfix">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    <div class="yotpo yotpo-reviews-carousel" 
         data-background-color="transparent" 
         data-mode="top_rated" 
         data-type="product" 
         data-count="9" 
         data-show-bottomline="1" 
         data-autoplay-enabled="1" 
         data-autoplay-speed="4000" 
         data-show-navigation="1" >&nbsp;</div>
    <script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/ShamLQBDV7y6UtrScVwUDSEydUczmxIFvaXx1dRB/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
    <div id='yotpo-testimonials-custom-tab'></div>
  </div>
</div>