<div class="ten columns offset-by-three page clearfix">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {{ page.content }}
    
    <div id="a40AccessibilityStatement"></div>
    <script type="text/javascript" src="https://a40.usablenet.com/pt/c/statement/bienasnacks/accessibilitystatement.js?l=1"></script>
    
  </div>
</div>