<div class="container">
<div class="sixteen columns page clearfix">
  <h1 class="center">We're here this National Salad Month to level up your lunch game!</h1>
  <h3 class="center" style="text-transform: uppercase;">Enter to win everything you need for a great lunch!</h3>
</div>
</div>

<div class="container wc_subscribe_form_con">
<div class="eight columns alpha omega"><img src="https://cdn.shopify.com/s/files/1/0897/6158/files/may-giveaway-img.jpg?v=1652747903" width="100%"></div>
<div class="eight columns alpha omega wc_subscribe_form">
  <div class="text_content" style="margin: 0 auto;">
  <h4 class="center">Enter & Unlock <br/>15% off your first order</h4>
    
  {% comment %}
  <h2 class="center">SAVE 15%</h2>
  <h4 class="center">when subscribing<br/>to our emails</h4>
  {% endcomment %}
  
  <div class="klaviyo-form-VE5BYq"></div>
  {% comment %}<div class="klaviyo-form-R6xgbu"></div>{% endcomment %}
  {% comment %}<div class="klaviyo-form-YkENF6"></div>{% endcomment %}
  
  <div class="whats_included">
    <strong>Prize Pack Includes:</strong>
    <ul>
      <li>Biena Snacks - Lil Bit of Everything & Sea Salt Roasted Chickpea Snack Bags, Vegan Cheddar & Vegan Ranch Puffs Bags</li>
      <li>Wanu Water 12 Bottle Variety Pack</li>
      <li>Drink Nitro -  12 Bottle Variety Pack</li>
      <li>Lunchskins - 1 box of Lunchskins Recyclable & Sealable Bags and 2-pack of Reusable + Sealable Bags.</li>
    </ul>
  </div>
    
    <p style="text-align: center;"><small>This giveaway is valid <strong>5/18 - 5/25</strong>. Winners will be emailed!</small></p>
    <p style="font-size: 11px; padding: 0px 20px; text-align: center;">By entering the giveaway you are opting-in to receive <br/>occasional marketing emails for exclusive deals and offers.</p>
</div>
</div>

</div>

<div class="instagram-container">
<div class="sec-instafeed">
  <h3>Latest from Instagram</h3>
  <div id="insta-feed"></div>
</div>
  
<style type="text/css">
  .container.wc_subscribe_form_con{ max-height: 680px; width: 100%; max-width: 1160px; }
  .container.main.content {background: #f0eedc; padding: 80px 0px 0px 0px;}
  .main.content {width: 100%;}
  .main.content .container {padding: 0px;}
  .footer {margin-top: 0px;}
  .klaviyo-form input[type="email"]{ background: #F0EEDC !important; }
 
  h1.center {
    font-family: BasisGrotesquePro-Bold;
    font-size: 38px;
    line-height: 1.3;
    color: #573c31;
    margin-bottom: 0px;
  }
  .wc_subscribe_form h2.center {
    font-family: BasisGrotesquePro-Black;
    font-size: 38px;
    line-height: 1.3;
    color: #5e3c32;
    margin: 0;
  }
  .wc_subscribe_form h4.center{
    font-family: BasisGrotesquePro-Black;
    font-size: 1.5em;
    line-height: 1.3;
    color: #5e3c32;
    margin: 0;
    padding: 0;
  }
  .wc_subscribe_form p.center {
    font-size: 30px;
    line-height: 1.3;
    color: #5e3c32;
  }
  h3.center {
    font-size: 26px;
    line-height: 1.3;
    color: #573c31;
    margin-bottom: 1em;
  }
  
  .wc_subscribe_form_con img {display: block;}
  .wc_subscribe_form {background: #63cfe3;}
  
  .wc_subscribe_form form.klaviyo-form {padding-bottom: 0px;}
  .wc_subscribe_form input::placeholder {color: #573c31 !important;}
  
  .whats_included {width: 100%; max-width: 90%; margin: 0 auto;}
  .whats_included {color: #573c31; font-size: 0.9em; line-height: 1.3;}
  .whats_included ul li {margin-bottom: 10px; color: #573c31;}
  
  @media (min-width: 1000px) {
    .wc_subscribe_form_con {display: flex; align-items: center; background: #63cfe3;}
  }
  
  @media (max-width: 640px) {
    .container.wc_subscribe_form_con{display: grid; width: 100%; max-height: inherit; overflow: auto;}
    .container.wc_subscribe_form_con .eight.columns {width: 100%;  order: 2;}
    .container.wc_subscribe_form_con .eight.columns.wc_subscribe_form {order: 1;}
    .container.main.content {padding: 20px 0px 0px 0px;}
    
    h1.center {font-size: 22px;}
    h3.center {font-size: 18px; text-transform: inherit !important;}
    .wc_subscribe_form h2.center {font-size: 22px; margin-bottom: 0em;}
    .wc_subscribe_form p.center {font-size: 16px;}
    .wc_subscribe_form .text_content {padding: 2em 0px 0px;}
  }
</style>