<div class="container" style="padding: 2em 0;">
<div class="five columns offset-by-three">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {{ page.content }}
  </div>
</div>
<div class="five columns">
  <img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0897/6158/files/11-Square.jpg?v=1652292630">
</div>
</div>

<div class="ten columns offset-by-three page clearfix">
  <h2 class="center">Faire Customers</h2>
  <div class="feature_divider"></div>
  <div>
    <iframe src="https://www.faire.com/embed/bw_p66qka52q7" width="240" height="50" scrolling="no" style="margin:0 auto;border:none;display:block;max-width:100%;"></iframe>
  </div>
</div>